<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snail.french" >

    <!-- 网络访问权限 需要在线获取试题数据提交答题结果 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 网络状态 判断是否连接网络 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 无线网络状态 判断wifi状态，下载只在wifi网络环境下进行 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 外部存储 下载及缓存需要 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取手机状态和身份 使用umeng统计SDK需要添加的权限，仅为获取手机IMEI用来做用户的唯一标识 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <application
        android:name=".FrenchApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.others.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.login.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.login.RegistActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.login.ForgetPasswordActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ReportActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.TestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.SPQuestionListActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.SheetActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ResultActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.AnalyzationActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.others.GuideActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.others.WebActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.others.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.others.FeedbackActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.others.AboutActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5683430a67e58ead8c000ff6" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="yingyonghui" />
    </application>

</manifest>
